In [1]:
str = 'my name is parikh'
li = str.split()
li

['my', 'name', 'is', 'parikh']

In [2]:
str = 'my,name,is,parikh'
li = str.split(",")
li

['my', 'name', 'is', 'parikh']

In [5]:
## If you want you can pass any number of delimeter you want.
str = 'my ,name ,is, parikh'
li = str.split(',',2)
li

['my ', 'name ', 'is, parikh']

# Replace function

In [10]:
str = "My name is sanjeev sanjeev sanjeev"
str.replace("sanjeev", "kumar",3)

'My name is kumar kumar kumar'

In [7]:
#If you replace a string which is not present in the list then original strintg will be printed
str = "My name is sanjeev"
str.replace("rohan", "kumar")

'My name is sanjeev'

## Find function

# It actually return the index

In [11]:
str = "My name is sanjeev"
str.find("sanjeev")

11

In [13]:
str = "My name is sanjeev sanjeev"
str.find("san", 19, 23)

19

## Lower and upper

In [14]:
str = "My Name Is Sanjeev Kumar"

In [17]:
str = str.lower()
print(str)

my name is sanjeev

In [18]:
str= str.upper()
print(str)

MY NAME IS SANJEEV

## startswith

In [25]:
st = 'My name is sanjeev'
ans = str.startswith('My name')
print(ans)

False